:root{
    --rich-black: #050517ff;
    --flame: #cf5c36ff;
    --sunset: #efc88bff;
    --vanilla: #f4e3b2ff;
    --platinum: #d3d5d7ff;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--rich-black);
    display:flex;
    justify-content: center;
}

section{
    margin-left: 40px;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

select{
    margin: 50px;
    width: 150px;
    padding: 5px 40px 5px 5px;
    font-size: 16px;
    border: 1px solid #CCC;
    height: 40px;
    font-size: large;
    background-color: var(--flame);
    color: var(--platinum);
    border: 1px solid #CCC;
}

h1{
    color: var(--sunset);
}

p{
    color: var(--vanilla);
}

a{
    color: var(--platinum);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

img{
    width: 200px;
}