:root {
	--persian-indigo: #360568ff;
	--tekhelet: #5b2a86ff;
	--glaucous: #7785acff;
	--light-blue: #9ac6c5ff;
	--celadon: #a5e6baff;
}

html {
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing:border-box;
    text-decoration: none;
    width: fit-content(box);
}

body {
    padding-bottom: 2vw;
    background-color: var(--light-blue);
    color: var(--persian-indigo);
}

h1{
	font-size: 2.4rem;
	padding-top: 5vh;
}

form {
    margin-top: 20px;
    background-color: var(--light-blue);
    padding: 5vh;
}

fieldset{
    border: 0;
    padding: 1vh;
    margin: 2vh 0 2vh 0;
    background-color: transparent;
}

.input-field {
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    margin-bottom: 5px;
    display: block;
}

input{
	background-color: var(--celadon);
	color: var(--tekhelet);
	padding: 3vh 4vh;
	font-size: large;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    margin-top: 20px;
}

#localizacao{
    display: flex;
    justify-content: space-between;
}

